Revisoion on aug 5 to check my programming skills . Got injured and out of touch in programing for 3 week . I have done Only therory .

In [2]:
# Find max of 3 number
num1 = int(input("Enter a number"))
num2 = int(input("Enter a number"))
num3 = int(input("Enter a number"))
res = max(num1,num2,num3)
print(res)

97

In [9]:
num1 = 200
num2 = 200
num3 = 34

if num1 >= num2 and num1 >= num3:
    print(num1)
elif num2 >= num1 and num2 >= num3:
    print(num2)
else:
    print(num3)

200

In [26]:
a = "python"
b = "python"
print(id(a) == id(b))

True

In [28]:
# Wap where we have sq of 1-30 in a list .

res = [(i,i**2) for i in range(1,31)]
print(res)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100), (11, 121), (12, 144), (13, 169), (14, 196), (15, 225), (16, 256), (17, 289), (18, 324), (19, 361), (20, 400), (21, 441), (22, 484), (23, 529), (24, 576), (25, 625), (26, 676), (27, 729), (28, 784), (29, 841), (30, 900)]

In [46]:
# Wap to find prime or not .
def divisor(num):
    res = []
    for i in range(1,num//2 +1 ):
        if num % i == 0 :
            res.append(i)
    return res

def isprime(num):
    if len(divisor(num)) == 1 :
        return "Prime Number"
    return "Not a Prime Number"
    
# print(divisor(8))
print(isprime(17))

Prime Number

In [50]:
# Sum of all the number in a list .
l = [1,2,3]
res = sum(l)
print(res)

6

In [51]:
def sum_of_list(l):
    res = 0
    for i in l :
        res += i
    return res
l = [1,2,3]
print(sum_of_list(l))

6

In [53]:
# Fibonacii sequence using normal looping . 
a = 0
b = 1
n = 5     # Upto to how much sqquence we want .
res = []
for _ in range (5):
    res.append(a)        
    c = a + b
    a = b
    b = c 
    
    
print(res)

[0, 1, 1, 2, 3]

In [58]:
# Fibonacii sequence using function .

def fibo(num):
    res = []
    a = 0
    b = 1
    for _ in range (num):
        res.append(a)
        c = a + b
        a = b
        b = c
    return res

fibo(6)

[0, 1, 1, 2, 3, 5]

In [ ]:
# Fibonacii sequence using function normal recursion .

def fibo (num,a,b,c,res):
    res = []
    a= 0
    b= 1
    c= a+b
    res.append(a)

In [ ]:
# # Fibonacci sequence using recursion
# def fibo(num)

In [64]:
# Factorial of a number 
def fact(num):
    if num == 0 :
        return 1
    return num*fact(num-1)

print(fact(3))

6

In [ ]:
import datetime as d
t = d.datetime.now()
print(t)

2025-08-05 18:53:07.155486

In [72]:
import datetime as dt
t = dt.datetime(2005,5,19)
print(t.strftime("%A"))

date_str = "2005-05-19"
d_str = dt.datetime.strptime(date_str, "%Y-%m-%d")
print(date_str)

Thursday
2005-05-19

False
False
False